body {
  background-image: url(../img/sky1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  color: white;
}

.weather-app {
  padding: 5px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 7px;
  margin: 30px;
  max-width: 900px;
}

h1 {
  font-size: 28px;
  left: center;
  font-family: "Poppins", sans-serif;
  margin: auto 0;
  padding: 2px 5px 2px 0px;
}
h2 {
  font-size: 24px;
  left: center;
  font-family: "Poppins", sans-serif;
  margin: auto 0;
  padding: 2px 5px 2px 0px;
}

h5 {
  font-style: italic;
  font-size: 12px;
  margin: auto 0;
  padding: 15px 5px 5px 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px;
  padding: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
}

.weather-description:first-letter {
  text-transform: capitalize;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.btn-info {
  margin: 5px 0px 20px;
  color: white;
}

.units {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
}
footer {
  text-align: center;
  font-size: 12px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
